<nav class="sidebar">


  <div class="menu-list">
    <div class="menu-group" *ngFor="let menu of menuProperties">

      <button class="menu-btn" [class.open]="menu.expanded"
               (click)="onMenuClick(menu)">
        <i class="{{menu.icon}} micon"></i>
        <span class="mlabel">{{ menu.titre }}</span>
        <i class="fas fa-chevron-down chevron"
           *ngIf="menu.sousMenu && menu.sousMenu.length > 0"></i>
      </button>

      <div class="sub-menu" [class.open]="menu.expanded">
        <div class="sub-item"
             *ngFor="let sousMenu of menu.sousMenu"
             [class.active]="sousMenu.active"
             (click)="navigate(sousMenu)">
          <i class="{{sousMenu.icon}}"></i>
          {{ sousMenu.titre }}
        </div>
      </div>

    </div>
  </div>
</nav>
